@font-face {
  font-family: 'ComputerModern';
  src: url('fonts/cmunbmr.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #242629;

  --primary-color: #16161a;
  --secondary-color: #7f5af0;
  --tertiary-color: #2cb67d;
  --quaternary-color: #333333;
  --font-color-light: #fffffe;
  --font-color-dark: #545454;
  --stroke-color: #010101;
  --stroke-light-color: #fffffe;
  --button-color: #7f5af0;

  --border-radius: 3pt;
  --border-size: 3px;
  --padding-small: 1vh;
  --padding-medium: 2vh;
  --padding-large: 4vh;
  --margin-small: 1vh;
  --margin-medium: 2vh;
  --margin-large: 4vh;

  --font-size-small: 10pt;
  --font-size-medium: 12pt;
  --font-size-large: 18pt;
  --font-size-big: 20pt;
  --font-size-bbig: 24pt;
}
html{
  scroll-behavior: smooth;
  text-wrap: pretty;
}
body {
  background-color: var(--background-color);
  color: var(--font-color-light);
  margin: 0;
  padding: 0;
  font-family: 'ComputerModern', sans-serif;
}
.section-title{
  font-size: var(--font-size-big);
  margin: var(--margin-large);
  padding: var(--padding-medium);
}
.download-button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 15%;
  min-width: 75px;
  background-color: var(--button-color);
  color: var(--font-color-light);
  font-size: var(--font-size-small);
  padding: var(--padding-small);
  border: var(--border-size) solid var(--stroke-color);
  border-radius: var(--border-radius);
  align-self: center;
}
.download-button:hover{
  background-color: var(--tertiary-color);
}
a:link{
  text-decoration: none;
}


/* ======================================================== */
/* ======================== Header ======================== */
/* ======================================================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 99.6%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--quaternary-color);
  border: var(--border-size) solid var(--stroke-color);
  z-index: 1000;
}
#logo-header {
  height:100%;
  margin-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#logo-header video {
  height: 100%;
}
#buttons-header{
  margin-right: 3%;
}
.button-header {
  background-color: #0000;
  color: var(--font-color-light);
  border: none;
  border-radius: 0;
  font-size: 1rem;
  color: var(--font-color-light);
  margin: 0 var(--margin-small) ;
  padding: var(--padding-small);
  
}
.button-header:hover {
  background-color: var(--button-color);
  border-radius: var(--border-radius);
}
/* ======================================================== */
/* ======================== Main ======================== */
/* ======================================================== */
#main-section {
  height: 100vh;
  background-color: var(--primary-color);
  border: var(--border-size) solid var(--stroke-color);
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#p5-main-animation{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2cb67d00;
}


/* ======================================================== */
/* ================== Projects Section ================== */
/* ======================================================== */
#projects-section {
  height: auto;
  background-color: var(--primary-color);
  border: var(--border-size) solid var(--stroke-color);
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.projects-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--margin-medium);
}
/* Modify the grid template if the screen is a phone format */
@media screen and (max-width: 600px) {
  .projects-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.projects-item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000000;
  color: var(--font-color-light);
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--stroke-color);
  padding: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.projects-item:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.projects-item h1 {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--font-color-light);
  margin-bottom: 0.5rem;
}

.projects-item p {
  font-size: var(--font-size-small);
  color: var(--font-color-light);
  margin-bottom: 0.5rem;
}

.projects-item h4 {
  font-size: 10pt;
  color: var(--font-color-dark);
}

/* ======================================================== */
/* ======================= CV Section ==================== */
/* ======================================================== */
#cv-section {
  background-color: var(--primary-color);
  border: var(--border-size) solid var(--stroke-color);
  border-bottom: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cv-container {
  background-color: var(--quaternary-color);
  border: var(--border-size) solid var(--stroke-color);
  border-radius: var(--border-radius);
  padding: var(--padding-large);
  margin: var(--margin-medium);
}

#cv-education-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: var(--margin-medium);
}

#cv-experience-container{
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1200px));
  gap: var(--margin-medium);
}

#cv-skill-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: var(--margin-medium);
}

@media screen and (max-width: 800px) {
  #cv-education-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  #cv-skill-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.cv-education-item{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-width: 200px;
}

.cv-experience-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.cv-skills-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--quaternary-color);
  border: var(--border-size) solid var(--stroke-color);
  border-radius: var(--border-radius);
}

.cv-skills-item-logos{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------- CV Styles ----------------------*/

.cv-title {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--font-color-light);
  margin: 0;
}

.cv-subtitle {
  font-size: var(--font-size-medium);
  color: var(--font-color-light);
  margin: var(--margin-small) 0;
}

.cv-subsubtitle {
  font-size: var(--font-size-medium);
  font-weight: normal;
  color: var(--font-color-light);
  margin: var(--margin-small) 0;
}

.cv-date {
  font-size: var(--font-size-small);
  font-weight: normal;
  color: var(--font-color-dark);
  margin: var(--margin-small) 0;
}

.cv-description {
  font-size: var(--font-size-medium);
  color: var(--font-color-light);
  margin: var(--margin-small) 0;
}

.cv-keywords {
  font-size: var(--font-size-small);
  color: var(--font-color-dark);
  margin: var(--margin-small) 0;
}

.cv-skills-programming {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-skills-logo {
  width: 2vw;
  min-width: 20px;
  margin: var(--margin-small) var(--margin-small);
}

.cv-skills-item hr{
  width: 100%;
  margin: 0;
}
.section-hr{
  width: 80%;
  margin: var(--margin-large);
}

/* ======================================================== */
/* ======================== Footer ======================== */
/* ======================================================== */
footer {
  height: 4vh;
  background-color: var(--quaternary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-size) solid var(--stroke-color);
  font-size: var(--font-size-small);
}


/* ======================================================== */
/* ======================== Project ======================= */
/* ======================================================== */

#animation-container{
  background-color: var(--primary-color);
  border: var(--border-size) solid var(--stroke-color);
  border-bottom: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7vh;
}
#animation-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--margin-large);
}
#animation-canvas{
  width: 70%;
  background-color: #82131300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#animation-canvas canvas{
  background-color: var(--quaternary-color);
  border: var(--border-size) solid var(--stroke-color);
  border-radius: var(--border-radius);
}
#animation-widgets{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-medium);
  background-color: var(--quaternary-color);
  border: var(--border-size) solid var(--stroke-color);
  border-radius: var(--border-radius);
}
.project-description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-medium);
  width: 90%;
  min-width: 300px;
  max-width: 1000px;
}
.button-widgets{
  display: inline-block;
  width: auto;
  background-color: var(--button-color);
  color: var(--font-color-light);
  font-size: var(--font-size-small);
  padding: var(--padding-small);
  margin: var(--margin-small);
  border: var(--border-size) solid var(--stroke-color);
  border-radius: var(--border-radius);
}
.button-widgets:hover{
  background-color: var(--tertiary-color);
}
.slider {
  height: 1.5pt;
  border-radius: 10px;
  -webkit-appearance: none;
  width: 100%;
  margin: 10px;
  background-color: #fffffe;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--button-color);
  border: solid 1.5pt #fffffe;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  background-color: var(--button);
  border: solid 2pt #fffffe;
  transition: 0.3s;
}
.slider-label {
  color: var(--card_headline);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* ======================================================== */
/* ======================= Text/Math ====================== */
/* ======================================================== */

.project-presentation{
  border: var(--border-size) solid var(--stroke-color);
  border-radius: var(--border-radius);
  padding: var(--padding-medium);
}

.text-paragraph{
  display: flex;
  justify-content: left;
}

.text-proposition{

}

